<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/phone-cover.jpg')"
  >
    <!-- <div class="filter"></div> -->
  </div>
  <div class="container">
    <br />
    <div class="row">
      <div *ngFor="let product of products; index as productId" class="col-sm">
        <a [routerLink]="['detail', product._id]">
          <div class="card">
            <img src="{{ product.coverImage }}" class="card-img-top" />
            <div class="card-body">
              <h3>{{ product.name }}</h3>
              <p *ngIf="product.description" class="card-text">
                Description: {{ product.description }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
